<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyNotes</title>
    <script src="https://kit.fontawesome.com/326123f26b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/todos.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <button class="del"><i class="fa-solid fa-trash"></i></button>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <button>Submit</button>
    </form>

    <form action="/logout">
        <button>Log Out</button>
    </form>

    <script src="js/main.js"></script>
</body>
</html>